.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 4rem;
}

.form .wrapper-input {
  background: var(--white);
  display: flex;
  align-items: center;
  width: 30.7rem;
  border-radius: 3rem;
  border: 0.1rem solid var(--light);
  gap: 0.8rem;
  padding: 1.8rem 2.6rem;
}

.form .wrapper-input .input::placeholder {
  color: var(--dark);
  opacity: 0.3;
}

.form a {
  color: var(--dark);
  opacity: 0.6;
  text-align: center;
  padding: 1.7rem 0;
}

.form .return {
  color: var(--primary-color);
  font-size: 1.8rem;
  padding: 2.6rem 0;
}

.form .checkBox {
  color: #4f4f4f;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

input[type='checkbox'] {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  background: #EEE;
}
input[type="checkbox" i]:focus-visible {
  outline-offset: 2px;
}
/* Estilo para quando o checkbox estiver marcado */
.custom-checkbox:checked {
  background-color: #007bff;
  border: 1px solid #007bff;
}

